# Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score


import joblib

In [3]:
# Load Data
data = pd.read_csv(r"C:\Users\Manikandan\Desktop\cars_price _predict_streamlit\CarPrice_Assignment.csv")

In [4]:
data.head().T

,0,1,2,3,4
car_ID,1,2,3,4,5
symboling,3,3,1,2,2
CarName,alfa-romero giulia,alfa-romero stelvio,alfa-romero Quadrifoglio,audi 100 ls,audi 100ls
fueltype,gas,gas,gas,gas,gas
aspiration,std,std,std,std,std
doornumber,two,two,two,four,four
carbody,convertible,convertible,hatchback,sedan,sedan
drivewheel,rwd,rwd,rwd,fwd,4wd
enginelocation,front,front,front,front,front
wheelbase,88.6,88.6,94.5,99.8,99.4
carlength,168.8,168.8,171.2,176.6,176.6
carwidth,64.1,64.1,65.5,66.2,66.4
carheight,48.8,48.8,52.4,54.3,54.3
curbweight,2548,2548,2823,2337,2824
enginetype,dohc,dohc,ohcv,ohc,ohc
cylindernumber,four,four,six,four,five
enginesize,130,130,152,109,136
fuelsystem,mpfi,mpfi,mpfi,mpfi,mpfi
boreratio,3.47,3.47,2.68,3.19,3.19
stroke,2.68,2.68,3.47,3.4,3.4
compressionratio,9.0,9.0,9.0,10.0,8.0
horsepower,111,111,154,102,115
peakrpm,5000,5000,5000,5500,5500
citympg,21,21,19,24,18
highwaympg,27,27,26,30,22
price,13495.0,16500.0,16500.0,13950.0,17450.0

In [5]:
data.shape

(205, 26)

# PreProcessing

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [7]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
car_ID,205.0,103.000000,59.322565,1.00,52.00,103.00,154.00,205.00
symboling,205.0,0.834146,1.245307,-2.00,0.00,1.00,2.00,3.00
wheelbase,205.0,98.756585,6.021776,86.60,94.50,97.00,102.40,120.90
carlength,205.0,174.049268,12.337289,141.10,166.30,173.20,183.10,208.10
carwidth,205.0,65.907805,2.145204,60.30,64.10,65.50,66.90,72.30
carheight,205.0,53.724878,2.443522,47.80,52.00,54.10,55.50,59.80
curbweight,205.0,2555.565854,520.680204,1488.00,2145.00,2414.00,2935.00,4066.00
enginesize,205.0,126.907317,41.642693,61.00,97.00,120.00,141.00,326.00
boreratio,205.0,3.329756,0.270844,2.54,3.15,3.31,3.58,3.94
stroke,205.0,3.255415,0.313597,2.07,3.11,3.29,3.41,4.17
compressionratio,205.0,10.142537,3.972040,7.00,8.60,9.00,9.40,23.00
horsepower,205.0,104.117073,39.544167,48.00,70.00,95.00,116.00,288.00
peakrpm,205.0,5125.121951,476.985643,4150.00,4800.00,5200.00,5500.00,6600.00
citympg,205.0,25.219512,6.542142,13.00,19.00,24.00,30.00,49.00
highwaympg,205.0,30.751220,6.886443,16.00,25.00,30.00,34.00,54.00
price,205.0,13276.710571,7988.852332,5118.00,7788.00,10295.00,16503.00,45400.00

In [8]:
data.describe(include=object)

,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem
count,205,205,205,205,205,205,205,205,205,205
unique,147,2,2,2,5,3,2,7,7,8
top,toyota corona,gas,std,four,sedan,fwd,front,ohc,four,mpfi
freq,6,185,168,115,96,120,202,148,159,94

In [9]:
drop = ['car_ID']

In [10]:
data = data.drop(columns=drop)

In [11]:
continous =[]
categorical =[]
cat_to_cont =[]
for col in data.columns:
    if data[col].dtypes != object:
        #print(col)
        continous.append(col)
    elif col == 'CarName':
        categorical.append(col)
     
    else:
        cat_to_cont.append(col)

### Categorical

In [12]:
data[categorical].isnull().sum()

CarName    0
dtype: int64

In [13]:
### Nomissing values found

In [14]:
data[categorical].describe(include=object)

              CarName
count             205
unique            147
top     toyota corona
freq                6

### cat to numeric

In [15]:
data[cat_to_cont].isnull().sum()

fueltype          0
aspiration        0
doornumber        0
carbody           0
drivewheel        0
enginelocation    0
enginetype        0
cylindernumber    0
fuelsystem        0
dtype: int64

In [16]:
# No missing valyes found

In [17]:
data[cat_to_cont].describe(include=object)

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem
count,205,205,205,205,205,205,205,205,205
unique,2,2,2,5,3,2,7,7,8
top,gas,std,four,sedan,fwd,front,ohc,four,mpfi
freq,185,168,115,96,120,202,148,159,94

In [18]:
data[cat_to_cont].head()

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem
0,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,gas,std,four,sedan,4wd,front,ohc,five,mpfi

###  Encoding

In [19]:
target = "price"
for col in categorical:
    data[col] = data.groupby([col])[target].transform('mean')

In [20]:
for col in cat_to_cont:
    print(col, data[col].unique())

fueltype ['gas' 'diesel']
aspiration ['std' 'turbo']
doornumber ['two' 'four']
carbody ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
drivewheel ['rwd' 'fwd' '4wd']
enginelocation ['front' 'rear']
enginetype ['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']
cylindernumber ['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']
fuelsystem ['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']

In [21]:
data['fueltype'] = data['fueltype'].map({'gas':0,'diesel':1})
data['aspiration'] = data['aspiration'].map({'std':0,'turbo':1})
data['doornumber'] = data['doornumber'].map({'two':0,'four':1})
data['carbody'] = data['carbody'].map({'hardtop':0,'hatchback':1,'wagon':2,'sedan':3,'convertible':4})
data['drivewheel'] = data['drivewheel'].map({'rwd':0,'fwd':1,'4wd':2})
data['enginelocation'] = data['enginelocation'].map({'front':0,'rear':1})
data['enginetype']=data['enginetype'].map({'dohc':4, 'ohcv':3, 'ohc':1, 'l':0, 'rotor':6, 'ohcf':2, 'dohcv':5})
data['cylindernumber'] = data['cylindernumber'].map({'four':2, 'six':4, 'five':3, 'three':1, 'twelve':6, 'two':0, 'eight':5})
data['fuelsystem'] =  data['fuelsystem'].map({'mpfi':3, '2bbl':1, 'mfi':2, '1bbl':0, 'spfi':5, '4bbl':6, 'idi':7 ,'spdi':4})

In [22]:
data.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,13495.0,0,0,0,4,0,0,88.6,168.8,...,130,3,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,16500.0,0,0,0,4,0,0,88.6,168.8,...,130,3,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,16500.0,0,0,0,1,0,0,94.5,171.2,...,152,3,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,13950.0,0,0,1,3,1,0,99.8,176.6,...,109,3,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,17580.0,0,0,1,3,2,0,99.4,176.6,...,136,3,3.19,3.40,8.0,115,5500,18,22,17450.0

### Standardizing

In [23]:
X1 = data.drop(['price'],axis=1)
y = data['price']

In [24]:
scaler = StandardScaler()

In [25]:
X = scaler.fit_transform(X1)

# Decision Tree

In [26]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error,r2_score


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Decision Tree Regressor
dt_regressor = DecisionTreeRegressor(random_state=42)

# Define the hyperparameters and their values for tuning
param_grid = {
    'criterion': ['squared_error', 'friedman_mse', 'absolute_error', 'poisson'],
    'splitter': ['best', 'random'],
    'max_depth': [None, 10, 20, 30, 40, 50],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4, 6, 8],
    'max_features': [None, 'auto', 'sqrt', 'log2']
}

# Use GridSearchCV to perform hyperparameter tuning
grid_search = GridSearchCV(estimator=dt_regressor, param_grid=param_grid, cv=5, n_jobs=-1, scoring='neg_mean_squared_error')

# Fit the model to the training data
grid_search.fit(X_train, y_train)

# Get the best parameters and best estimator
best_params = grid_search.best_params_
best_estimator = grid_search.best_estimator_

# Make predictions on the test data
y_pred = best_estimator.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Best Parameters: {best_params}")
print(f"Mean Squared Error on Test Data: {mse}")
print(f"R-squared on Test Data: {r2}")

Best Parameters: {'criterion': 'poisson', 'max_depth': None, 'max_features': None, 'min_samples_leaf': 6, 'min_samples_split': 2, 'splitter': 'best'}
Mean Squared Error on Test Data: 5112442.374816548
R-squared on Test Data: 0.9352396506049526

# Random forest

In [27]:
from sklearn.ensemble import RandomForestRegressor

# Initialize the Random Forest Regressor
rf_regressor = RandomForestRegressor(random_state=42)

# Define the hyperparameters and their values for tuning
param_grid = {
    'n_estimators': [100, 200, 300],  # Number of trees in the forest
    'max_depth': [None, 10, 20, 30],   # Maximum depth of the trees
    'min_samples_split': [2, 5, 10],   # Minimum samples required to split an internal node
    'min_samples_leaf': [1, 2, 4]      # Minimum number of samples required to be at a leaf node
}

# Use GridSearchCV to perform hyperparameter tuning
grid_search = GridSearchCV(estimator=rf_regressor, param_grid=param_grid, cv=5, n_jobs=-1, scoring='neg_mean_squared_error')

# Fit the model to the training data
grid_search.fit(X_train, y_train)

# Get the best parameters and best estimator
best_params = grid_search.best_params_
best_estimator = grid_search.best_estimator_

# Make predictions on the test data
y_pred = best_estimator.predict(X_test)

# Calculate Mean Squared Error (MSE) and R-squared (R2)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Best Parameters: {best_params}")
print(f"Mean Squared Error on Test Data: {mse}")
print(f"R-squared on Test Data: {r2}")

Best Parameters: {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 200}
Mean Squared Error on Test Data: 3337425.796785738
R-squared on Test Data: 0.9577241473186004

In [30]:
joblib.dump(best_estimator, 'car_price_model.pkl')

['car_price_model.pkl']

In [31]:
loded_model = joblib.load('car_price_model.pkl')

In [39]:
new_predictions = loded_model.predict(X_test)

In [40]:
new_predictions

array([34864.21  , 17877.745 ,  9254.515 , 14505.3   , 30387.685 ,
        7130.89  ,  8423.1225,  7827.96  , 10271.43  ,  7981.2075,
       13935.655 ,  7927.3675, 14381.035 , 10600.275 , 39473.325 ,
        6791.365 ,  5557.315 , 13814.465 ,  8675.915 ,  9398.05  ,
        9916.085 , 14388.045 , 11943.565 ,  6607.1175,  6933.9075,
       37903.5275, 10457.535 , 16558.025 ,  7336.125 , 15502.225 ,
       29490.98  ,  5785.95  ,  8051.24  , 17929.95  ,  8862.5625,
       30357.2175, 10474.205 , 11737.705 ,  7255.2475, 14090.565 ,
        8114.755 ])